:root {
	--text-color: #ebebde;
	--hi-color: #ffc080;
  --width: 900px;
}

/* General layout */
body {
	max-width: var(--width);
	margin: 0 auto;

	background-color: #252525;
	color: var(--text-color);

	font-family: "Open Sans", Arial, sans-serif;
	font-size: large;
}

.main {
	margin-top: 4em;
	margin-bottom: 3em;
}

/* links */
a:link {
	color: #00d0d0;
  text-decoration: none;
}

a:visited {
	color: #50c050;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* paper titles */
.paper {
	color: var(--hi-color);
}

/* my photo on the home page */
#photo {
	max-width: 25%;
	float: right;
	margin: 0 0 5% 5%;
}

/* navigation bar generally */
.navbar {
	max-width: var(--width);
	width: 100%;
	overflow: hidden;
	background-color: #3f3f3f;
	position: fixed;
	top: 0;
	font-size: x-large;
	font-weight: normal;
}

/* navigation bar buttons */
.navbar a, .current {
	float: left;
	display: block;
	text-align: center;
	padding: 5px 16px;
	text-decoration: none;
}

/* navigation bar my name */
.navbar .name {
	float: right;
	display: block;
	text-align: left;
	padding: 5px 8px;
	font-weight: normal;
	font-style: italic;
}

/* highlighting of navigation bar links */
.navbar a {
	color: var(--hi-color);
}

/* major headings get a line below */
h2 {
	font-weight: 600;
	border-bottom: 1px solid #a0a0a0;
}
