:root {
	--bg-color: #252525;
	--text-color: #ebebde;
	--hi-color: #ffc080;
  	--width: 60rem;
}

/* General layout */
body {
	background-color: var(--bg-color);
	color: var(--text-color);
	margin: 0; /* get rid of annoying margin */
}

.background {
	opacity: 100%;
	top: 0;
	left: 0;
	right: 0;
	position: fixed;
	height: 100vh;
	overflow: hidden;
	z-index: -100;
	background-repeat: repeat; /* image is periodic */
	background-image:
	url('data/bg.jpg');
	background-size: 30rem; /* use to have more control over resolution */

}

.foreground {
	display: flex;
}

/* the central part */
.central {
	background-color: var(--bg-color);

	max-width: var(--width);
	margin: 0 auto;

	font-family: 'Open Sans', Arial, sans-serif;
	font-size: large;

	/*border: 1px solid white;*/
	min-height: 100vh;
	top: 0;
	bottom: 0;
}

/* main content */
.main {
	margin-top: 5rem;
	margin-bottom: 3rem;
	margin-left: 2rem;
	margin-right: 2rem;
}

.margin {
	flex-grow: 1;
}

.left {
	background: linear-gradient(to right,
                                    rgba(0,0,0,0) 0%,
				    rgba(37,37,37,0.5) 30%,
				    rgba(37,37,37,0.8) 60%,
				    rgba(37,37,37,0.9) 80%,
		                    var(--bg-color) 100%
                                   );
}
.right {
	background: linear-gradient(to left,
                                    rgba(0,0,0,0) 0%,
				    rgba(37,37,37,0.5) 30%,
				    rgba(37,37,37,0.8) 60%,
				    rgba(37,37,37,0.9) 80%,
		                    var(--bg-color) 100%
                                   );
}

/* navigation bar */
.navbar {
	max-width: var(--width);
	width: 100%;
	overflow: hidden;
	background-color: #3f3f3f;
	position: fixed;
	top: 0;
	font-size: x-large;
	font-weight: normal;
}

/* links */
a:link {
	color: #00d0d0;
	text-decoration: none;
}

a:visited {
	/*color: #50c050;*/
	color: #00d0d0;
 	text-decoration: none;
}

a:hover {
  	text-decoration: underline;
}

/* paper titles */
.paper {
	color: var(--hi-color);
}

/* author names in publications */
.publist .authorname {
	white-space: nowrap;
}

/* my name in publications */
.publist .myname {
	white-space: nowrap;
	font-weight: bold;
}

/* my photo on the home page */
#photo {
	max-width: 14rem;
	float: right;
	margin: 0 0 3rem 3rem;
}

/* navigation bar buttons */
.navbar a, .current {
	float: left;
	display: block;
	text-align: center;
	padding: 5px 16px;
	text-decoration: none;
}

/* navigation bar my name */
.navbar .myname {
	float: right;
	display: block;
	text-align: left;
	padding: 5px 8px;
	font-weight: normal;
	font-style: italic;
}

/* highlighting of navigation bar links */
.navbar a {
	color: var(--hi-color);
}

/* major headings get a line below */
h2 {
	font-weight: 600;
	border-bottom: 1px solid #a0a0a0;
}
